In [11]:
import pandas as pd
import geopandas as gpd

In [106]:
# This is data from the Neighborhood Change Database for DC, Maryland, and Virginia
# by census tract

household_df = pd.read_csv("./data/DMV_Neighborhood_Change.csv", dtype={"GEO2000":str})

household_df.head()

/var/folders/5c/d2k1t24s5zl213152tpfh6nh0000gn/T/ipykernel_41175/2421604586.py:4: DtypeWarning: Columns (3138,3139) have mixed types. Specify dtype option on import or set low_memory=False.
  household_df = pd.read_csv("./data/DMV_Neighborhood_Change.csv", dtype={"GEO2000":str})

,GEO2000,TRCTPOP7,SMPPRS7,SHR7D,SHRWHT7N,SHRWHT7,SHRBLK7N,SHRBLK7,NONHISP7,SHRHSP7N,...,OP16190,OINHSW0,OINHSU0,OHSGW0,OHSGU0,OHSDW0,OHSDU0,OINMIL0,MP16190,MINHSW0
0,11001000100,5480,1064,5480,5274,0.962409,169,0.030839,5236,244,...,0,0,0,0,0,0,0,0,0,0
1,11001000201,3133,627,3133,3053,0.974465,10,0.003192,2951,183,...,0,0,0,0,0,0,0,0,0,0
2,11001000202,2990,598,2990,2914,0.974582,13,0.004348,2822,168,...,0,0,0,0,0,0,0,0,0,0
3,11001000300,5328,1036,5328,5183,0.972785,89,0.016704,5232,95,...,0,0,0,0,0,0,0,0,0,0
4,11001000400,915,174,915,861,0.940984,27,0.029508,888,27,...,0,0,0,0,0,0,0,0,0,0

In [112]:
household_df

,GEO2000,TRCTPOP7,SMPPRS7,SHR7D,SHRWHT7N,SHRWHT7,SHRBLK7N,SHRBLK7,NONHISP7,SHRHSP7N,...,OP16190,OINHSW0,OINHSU0,OHSGW0,OHSGU0,OHSDW0,OHSDU0,OINMIL0,MP16190,MINHSW0
0,11001000100,5480,1064,5480,5274,0.962409,169,0.030839,5236,244,...,0,0,0,0,0,0,0,0,0,0
1,11001000201,3133,627,3133,3053,0.974465,10,0.003192,2951,183,...,0,0,0,0,0,0,0,0,0,0
2,11001000202,2990,598,2990,2914,0.974582,13,0.004348,2822,168,...,0,0,0,0,0,0,0,0,0,0
3,11001000300,5328,1036,5328,5183,0.972785,89,0.016704,5232,95,...,0,0,0,0,0,0,0,0,0,0
4,11001000400,915,174,915,861,0.940984,27,0.029508,888,27,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2942,51840000100,0,0,0,0,0.000000,0,0.000000,0,0,...,22,0,0,0,0,22,0,0,16,16
2943,51840000201,0,0,0,0,0.000000,0,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
2944,51840000202,0,0,0,0,0.000000,0,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
2945,51840000301,0,0,0,0,0.000000,0,0.000000,0,0,...,19,0,0,0,0,19,0,0,20,5
2946,51840000302,0,0,0,0,0.000000,0,0.000000,0,0,...,34,0,0,0,0,21,13,0,11,3

In [71]:
all_counties_gdf = gpd.read_file("./data/shapes/tl_2020_us_county")

va_tracts_gdf = gpd.read_file("./data/shapes/tl_2020_51_tract")
md_tracts_gdf = gpd.read_file("./data/shapes/tl_2020_24_tract")
dc_tracts_gdf = gpd.read_file("./data/shapes/tl_2020_11_tract")

In [51]:
# get just the county shapes that border DC

va_county_names = ["Loudoun", "Arlington", "Falls Church", "Alexandria", "Fairfax"]
md_county_names = ["Montgomery", "Prince George's"]

va_county_gdf = all_counties_gdf[(all_counties_gdf["STATEFP"] == "51") & (all_counties_gdf["NAME"].isin(va_county_names))]
md_county_gdf = all_counties_gdf[(all_counties_gdf["STATEFP"] == "24") & (all_counties_gdf["NAME"].isin(md_county_names))]

In [80]:
# get census tracts from the target counties bordering DC

target_va_tracts_gdf = gpd.sjoin(va_tracts_gdf, va_county_gdf, how="inner", predicate="within")
target_md_tracts_gdf = gpd.sjoin(md_tracts_gdf, md_county_gdf, how="inner", predicate="within")

In [81]:
target_md_tracts_gdf

,STATEFP_left,COUNTYFP_left,TRACTCE,GEOID_left,NAME_left,NAMELSAD_left,MTFCC_left,FUNCSTAT_left,ALAND_left,AWATER_left,...,CLASSFP,MTFCC_right,CSAFP,CBSAFP,METDIVFP,FUNCSTAT_right,ALAND_right,AWATER_right,INTPTLAT_right,INTPTLON_right
22,24,031,701221,24031701221,7012.21,Census Tract 7012.21,G5020,S,2743976,6386,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
60,24,031,700828,24031700828,7008.28,Census Tract 7008.28,G5020,S,1266759,27320,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
61,24,031,700832,24031700832,7008.32,Census Tract 7008.32,G5020,S,1374320,984,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
65,24,031,700721,24031700721,7007.21,Census Tract 7007.21,G5020,S,410289,7882,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
66,24,031,701219,24031701219,7012.19,Census Tract 7012.19,G5020,S,2250969,1538,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,24,031,700822,24031700822,7008.22,Census Tract 7008.22,G5020,S,730342,0,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
1454,24,031,700826,24031700826,7008.26,Census Tract 7008.26,G5020,S,1999461,97890,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
1455,24,031,700615,24031700615,7006.15,Census Tract 7006.15,G5020,S,2724405,21367,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
1456,24,031,701220,24031701220,7012.20,Census Tract 7012.20,G5020,S,5876495,24353,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633
1457,24,031,701216,24031701216,7012.16,Census Tract 7012.16,G5020,S,1358375,505,...,H1,G4020,548,47900,23224,A,1277148686,35731155,+39.1373815,-077.2030633

In [92]:
target_va_tracts_id = list(target_va_tracts_gdf["GEOID_left"])
target_va_tracts_id = list(target_va_tracts_gdf["GEOID_left"])
dc_tracts_id = list(dc_tracts_gdf["GEOID"])

In [109]:
target_va_tracts_gdf

,STATEFP_left,COUNTYFP_left,TRACTCE,GEOID_left,NAME_left,NAMELSAD_left,MTFCC_left,FUNCSTAT_left,ALAND_left,AWATER_left,...,CLASSFP,MTFCC_right,CSAFP,CBSAFP,METDIVFP,FUNCSTAT_right,ALAND_right,AWATER_right,INTPTLAT_right,INTPTLON_right
13,51,013,101701,51013101701,1017.01,Census Tract 1017.01,G5020,S,242412,0,...,H1,G4020,548,47900,47894,A,67332990,273562,+38.8783374,-077.1007034
34,51,059,451601,51059451601,4516.01,Census Tract 4516.01,G5020,S,949593,0,...,H1,G4020,548,47900,47894,A,1012739503,40071739,+38.8295203,-077.2732524
47,51,059,451602,51059451602,4516.02,Census Tract 4516.02,G5020,S,946464,152416,...,H1,G4020,548,47900,47894,A,1012739503,40071739,+38.8295203,-077.2732524
55,51,510,202001,51510202001,2020.01,Census Tract 2020.01,G5020,S,494704,36463,...,C7,G4020,548,47900,47894,F,38682337,1069028,+38.8192511,-077.0836695
70,51,059,482002,51059482002,4820.02,Census Tract 4820.02,G5020,S,1875808,56976,...,H1,G4020,548,47900,47894,A,1012739503,40071739,+38.8295203,-077.2732524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2169,51,059,422302,51059422302,4223.02,Census Tract 4223.02,G5020,S,2413425,51384,...,H1,G4020,548,47900,47894,A,1012739503,40071739,+38.8295203,-077.2732524
2170,51,059,421702,51059421702,4217.02,Census Tract 4217.02,G5020,S,1999255,1743,...,H1,G4020,548,47900,47894,A,1012739503,40071739,+38.8295203,-077.2732524
2172,51,510,200900,51510200900,2009,Census Tract 2009,G5020,S,2161923,0,...,C7,G4020,548,47900,47894,F,38682337,1069028,+38.8192511,-077.0836695
2173,51,059,430801,51059430801,4308.01,Census Tract 4308.01,G5020,S,2443879,8852,...,H1,G4020,548,47900,47894,A,1012739503,40071739,+38.8295203,-077.2732524
2175,51,510,201000,51510201000,2010,Census Tract 2010,G5020,S,753648,8419,...,C7,G4020,548,47900,47894,F,38682337,1069028,+38.8192511,-077.0836695

In [116]:
household_df["GEO2000"]

0       11001000100
1       11001000201
2       11001000202
3       11001000300
4       11001000400
           ...
2942    51840000100
2943    51840000201
2944    51840000202
2945    51840000301
2946    51840000302
Name: GEO2000, Length: 2947, dtype: object