In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# open all block groups
dmv_bd_gdf = gpd.read_file("./data/shapes/SELECTED_DMV_BG")

# open acs data
dc_df = pd.read_csv("./data/acs/acs5_2018_selected_vars_DC.csv")
md_df = pd.read_csv("./data/acs/acs5_2018_selected_vars_MD.csv")
va_df = pd.read_csv("./data/acs/acs5_2018_selected_vars_VA.csv")

# filter state block groups
dc_bg_gdf = dmv_bd_gdf[dmv_bd_gdf["STATEFP10"] == "11"]
md_bg_gdf = dmv_bd_gdf[dmv_bd_gdf["STATEFP10"] == "24"]
va_bg_gdf = dmv_bd_gdf[dmv_bd_gdf["STATEFP10"] == "51"]

In [7]:
len(dc_bg_gdf) + len(md_bg_gdf) + len(va_bg_gdf) == len(dmv_bd_gdf) # check no missing data

True

### Maryland

In [ ]:
md_df["GEOID"] = md_df["GEOID"].astype('str').str.zfill(12) # make sure geo id is string format, 12 characters long

In [ ]:
len(md_df), len(md_bg_gdf) # should end up with 1137 rows of block group data

(3926, 1137)

In [23]:
md_selected_bg = md_df[md_df["GEOID"].isin(md_bg_gdf["GEOID10"])]

len(md_selected_bg)

1137

In [27]:
set(md_selected_bg["GEOID"]) == set(md_bg_gdf["GEOID10"]) # make sure they are the same

True

### Virginia

In [28]:
va_df["GEOID"] = va_df["GEOID"].astype('str').str.zfill(12) # make sure geo id is string format, 12 characters long

In [30]:
len(va_df), len(va_bg_gdf)

(5332, 961)

In [33]:
va_selected_bg = va_df[va_df["GEOID"].isin(va_bg_gdf["GEOID10"])]

len(va_selected_bg)

961

In [34]:
set(va_selected_bg["GEOID"]) == set(va_bg_gdf["GEOID10"]) # make sure they are the same

True

### DC

In [35]:
dc_df["GEOID"] = dc_df["GEOID"].astype('str').str.zfill(12) # make sure geo id is string format, 12 characters long

In [36]:
len(dc_df), len(dc_bg_gdf)

(450, 450)

In [39]:
dc_selected_bg = dc_df[dc_df["GEOID"].isin(dc_bg_gdf["GEOID10"])]

len(dc_selected_bg)

450

In [40]:
set(dc_selected_bg["GEOID"]) == set(dc_bg_gdf["GEOID10"]) # make sure they are the same

True

### Join dataframes

In [ ]:
set(dc_selected_bg.columns) == set(md_selected_bg.columns) == set(va_selected_bg.columns) # make sure columns are the same

True

In [47]:
len(dc_selected_bg) + len(md_selected_bg) + len(va_selected_bg)

2548

In [53]:
final_df = pd.concat([dc_selected_bg, md_selected_bg, va_selected_bg], ignore_index=True)

len(final_df)

2548

In [57]:
cols = ["GEOID"] + [col for col in final_df.columns if col != 'GEOID'] # move GEOID to the front for readability
final_df = final_df[cols]

In [56]:
final_df

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25071_001E,B25076_001E,B25078_001E,B25079_001E,B25080_001E,B25082_001E,B25083_001E,B25086_001E,B25087_001E,B25088_001E
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,24.2,516700,781300,155019600.0,NaN,155019600.0,-666666666,NaN,250,2682
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,34.2,382800,607100,80275000.0,80275000.0,80275000.0,-666666666,-666666666.0,180,1957
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,20.9,334200,1232600,NaN,765930000.0,765930000.0,-666666666,NaN,641,2025
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,28.3,370100,997300,NaN,126205000.0,126205000.0,-666666666,-666666666.0,185,2067
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,24.9,804100,1246600,454543700.0,454543700.0,454543700.0,-666666666,NaN,468,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,510594822032,824,486,0,197702,NaN,399,101,298,573,...,22.6,424900,764200,165395000.0,NaN,165395000.0,-666666666,-666666666.0,298,2187
2544,510594822033,728,497,37,101905,NaN,638,306,332,652,...,23.6,367700,595100,146895000.0,NaN,146895000.0,-666666666,-666666666.0,332,2246
2545,510594805013,989,644,23,203162,NaN,429,0,429,794,...,-666666666.0,455600,673100,NaN,242760900.0,242760900.0,-666666666,NaN,429,2290
2546,510594805031,903,639,7,161563,NaN,438,9,429,761,...,-666666666.0,502600,672300,233969800.0,233969800.0,233969800.0,-666666666,-666666666.0,429,2657
2547,510594211021,652,644,43,105625,NaN,623,243,380,767,...,43.3,388900,719000,208259000.0,208259000.0,208259000.0,-666666666,-666666666.0,380,2347

In [ ]:
final_df.to_csv("./data/acs/acs5_2018_selected_vars_DMV.csv", index=False)