In [1]:
import pandas as pd

In [3]:
# open data

acs_dmv_bg = pd.read_csv("../../data/acs/acs5_2018_selected_vars_DMV.csv")
el_dmv_bg = pd.read_csv("../../data/EvictionLab_bg_DMV_Filing.csv")

In [4]:
len(acs_dmv_bg), len(el_dmv_bg)

(2548, 6220)

In [5]:
acs_dmv_bg.shape

(2548, 284)

In [7]:
acs_dmv_bg

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25071_001E,B25076_001E,B25078_001E,B25079_001E,B25080_001E,B25082_001E,B25083_001E,B25086_001E,B25087_001E,B25088_001E
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,24.2,516700,781300,155019600.0,NaN,155019600.0,-666666666,NaN,250,2682
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,34.2,382800,607100,80275000.0,80275000.0,80275000.0,-666666666,-666666666.0,180,1957
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,20.9,334200,1232600,NaN,765930000.0,765930000.0,-666666666,NaN,641,2025
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,28.3,370100,997300,NaN,126205000.0,126205000.0,-666666666,-666666666.0,185,2067
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,24.9,804100,1246600,454543700.0,454543700.0,454543700.0,-666666666,NaN,468,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,510594822032,824,486,0,197702,NaN,399,101,298,573,...,22.6,424900,764200,165395000.0,NaN,165395000.0,-666666666,-666666666.0,298,2187
2544,510594822033,728,497,37,101905,NaN,638,306,332,652,...,23.6,367700,595100,146895000.0,NaN,146895000.0,-666666666,-666666666.0,332,2246
2545,510594805013,989,644,23,203162,NaN,429,0,429,794,...,-666666666.0,455600,673100,NaN,242760900.0,242760900.0,-666666666,NaN,429,2290
2546,510594805031,903,639,7,161563,NaN,438,9,429,761,...,-666666666.0,502600,672300,233969800.0,233969800.0,233969800.0,-666666666,-666666666.0,429,2657
2547,510594211021,652,644,43,105625,NaN,623,243,380,767,...,43.3,388900,719000,208259000.0,208259000.0,208259000.0,-666666666,-666666666.0,380,2347

In [6]:
el_dmv_bg

,id,name,parent_location,year,type,filings,filing_rate
0,110010001001,"District of Columbia, District of Columbia, 10...",District of Columbia,2018,observed,14.0,4.39
1,110010001002,"District of Columbia, District of Columbia, 10...",District of Columbia,2018,observed,17.0,4.67
2,110010001004,"District of Columbia, District of Columbia, 10...",District of Columbia,2018,observed,1.0,0.52
3,110010002022,"District of Columbia, District of Columbia, 20...",District of Columbia,2018,observed,1.0,1.43
4,110010002023,"District of Columbia, District of Columbia, 20...",District of Columbia,2018,observed,4.0,2.29
...,...,...,...,...,...,...,...
6215,518400003014,"Winchester city, Virginia, 301, 4",Winchester city,2018,observed,17.0,6.23
6216,518400003021,"Winchester city, Virginia, 302, 1",Winchester city,2018,observed,7.0,1.00
6217,518400003022,"Winchester city, Virginia, 302, 2",Winchester city,2018,observed,1.0,0.47
6218,518400003023,"Winchester city, Virginia, 302, 3",Winchester city,2018,observed,4.0,1.65
6219,518400003024,"Winchester city, Virginia, 302, 4",Winchester city,2018,observed,1.0,0.51

In [7]:
len(set(acs_dmv_bg["GEOID"]).intersection(set(el_dmv_bg["id"])))

1498

In [8]:
acs_dmv_bg[acs_dmv_bg["GEOID"].isin(el_dmv_bg["id"])] # just under 1500 observations within the selected DMV region

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25071_001E,B25076_001E,B25078_001E,B25079_001E,B25080_001E,B25082_001E,B25083_001E,B25086_001E,B25087_001E,B25088_001E
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,24.2,516700,781300,155019600.0,NaN,155019600.0,-666666666,NaN,250,2682
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,34.2,382800,607100,80275000.0,80275000.0,80275000.0,-666666666,-666666666.0,180,1957
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,20.9,334200,1232600,NaN,765930000.0,765930000.0,-666666666,NaN,641,2025
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,28.3,370100,997300,NaN,126205000.0,126205000.0,-666666666,-666666666.0,185,2067
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,24.9,804100,1246600,454543700.0,454543700.0,454543700.0,-666666666,NaN,468,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,510594516014,307,867,144,39129,NaN,339,339,0,514,...,46.3,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,0,-666666666
2540,515102013001,672,440,35,157778,NaN,332,31,301,522,...,14.1,626600,923600,258651900.0,NaN,258651900.0,-666666666,-666666666.0,301,3058
2542,510594707002,930,636,26,162143,NaN,428,51,377,581,...,23.9,672300,984700,NaN,NaN,320850400.0,-666666666,-666666666.0,377,1443
2543,510594822032,824,486,0,197702,NaN,399,101,298,573,...,22.6,424900,764200,165395000.0,NaN,165395000.0,-666666666,-666666666.0,298,2187
2547,510594211021,652,644,43,105625,NaN,623,243,380,767,...,43.3,388900,719000,208259000.0,208259000.0,208259000.0,-666666666,-666666666.0,380,2347

In [9]:
merged_acs_el = acs_dmv_bg.merge(el_dmv_bg, left_on="GEOID", right_on="id", how="inner")

In [10]:
merged_acs_el

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25086_001E,B25087_001E,B25088_001E,id,name,parent_location,year,type,filings,filing_rate
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,NaN,250,2682,110010068021,"District of Columbia, District of Columbia, 68...",District of Columbia,2018,observed,4.0,3.03
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,-666666666.0,180,1957,110010022023,"District of Columbia, District of Columbia, 22...",District of Columbia,2018,observed,6.0,6.06
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,NaN,641,2025,110010006004,"District of Columbia, District of Columbia, 60...",District of Columbia,2018,observed,4.0,11.11
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,-666666666.0,185,2067,110010042011,"District of Columbia, District of Columbia, 42...",District of Columbia,2018,observed,51.0,7.73
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,NaN,468,1908,110010011001,"District of Columbia, District of Columbia, 11...",District of Columbia,2018,observed,10.0,3.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,510594516014,307,867,144,39129,NaN,339,339,0,514,...,-666666666.0,0,-666666666,510594516014,"Fairfax County, Virginia, 451601, 4",Fairfax County,2018,observed,26.0,7.16
1494,515102013001,672,440,35,157778,NaN,332,31,301,522,...,-666666666.0,301,3058,515102013001,"Alexandria city, Virginia, 201300, 1",Alexandria city,2018,observed,5.0,17.24
1495,510594707002,930,636,26,162143,NaN,428,51,377,581,...,-666666666.0,377,1443,510594707002,"Fairfax County, Virginia, 470700, 2",Fairfax County,2018,observed,2.0,5.41
1496,510594822032,824,486,0,197702,NaN,399,101,298,573,...,-666666666.0,298,2187,510594822032,"Fairfax County, Virginia, 482203, 2",Fairfax County,2018,observed,2.0,2.08
1497,510594211021,652,644,43,105625,NaN,623,243,380,767,...,-666666666.0,380,2347,510594211021,"Fairfax County, Virginia, 421102, 1",Fairfax County,2018,observed,10.0,3.52

In [11]:
working_df = merged_acs_el.drop(['id', 'name', 'parent_location', 'year', 'type'],axis=1)

In [12]:
working_df

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25078_001E,B25079_001E,B25080_001E,B25082_001E,B25083_001E,B25086_001E,B25087_001E,B25088_001E,filings,filing_rate
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,781300,155019600.0,NaN,155019600.0,-666666666,NaN,250,2682,4.0,3.03
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,607100,80275000.0,80275000.0,80275000.0,-666666666,-666666666.0,180,1957,6.0,6.06
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,1232600,NaN,765930000.0,765930000.0,-666666666,NaN,641,2025,4.0,11.11
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,997300,NaN,126205000.0,126205000.0,-666666666,-666666666.0,185,2067,51.0,7.73
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,1246600,454543700.0,454543700.0,454543700.0,-666666666,NaN,468,1908,10.0,3.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,510594516014,307,867,144,39129,NaN,339,339,0,514,...,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,0,-666666666,26.0,7.16
1494,515102013001,672,440,35,157778,NaN,332,31,301,522,...,923600,258651900.0,NaN,258651900.0,-666666666,-666666666.0,301,3058,5.0,17.24
1495,510594707002,930,636,26,162143,NaN,428,51,377,581,...,984700,NaN,NaN,320850400.0,-666666666,-666666666.0,377,1443,2.0,5.41
1496,510594822032,824,486,0,197702,NaN,399,101,298,573,...,764200,165395000.0,NaN,165395000.0,-666666666,-666666666.0,298,2187,2.0,2.08
1497,510594211021,652,644,43,105625,NaN,623,243,380,767,...,719000,208259000.0,208259000.0,208259000.0,-666666666,-666666666.0,380,2347,10.0,3.52

In [13]:
working_df.to_csv("./data/working data/Filing_Dataset.csv", index=False)

### Again, but only for judgement rate

In [41]:
acs_dmv_bg = pd.read_csv("./data/acs/acs5_2018_selected_vars_DMV.csv")
el_dmv_bg = pd.read_csv("./data/EvictionLab_bg_DMV_JudgementRate.csv")

In [42]:
len(acs_dmv_bg), len(el_dmv_bg)

(2548, 6220)

In [43]:
len(set(acs_dmv_bg["GEOID"]).intersection(set(el_dmv_bg["id"])))

1498

In [44]:
acs_dmv_bg[acs_dmv_bg["GEOID"].isin(el_dmv_bg["id"])] # just over 1500 observations within the selected DMV region

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25071_001E,B25076_001E,B25078_001E,B25079_001E,B25080_001E,B25082_001E,B25083_001E,B25086_001E,B25087_001E,B25088_001E
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,24.2,516700,781300,155019600.0,NaN,155019600.0,-666666666,NaN,250,2682
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,34.2,382800,607100,80275000.0,80275000.0,80275000.0,-666666666,-666666666.0,180,1957
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,20.9,334200,1232600,NaN,765930000.0,765930000.0,-666666666,NaN,641,2025
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,28.3,370100,997300,NaN,126205000.0,126205000.0,-666666666,-666666666.0,185,2067
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,24.9,804100,1246600,454543700.0,454543700.0,454543700.0,-666666666,NaN,468,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,510594516014,307,867,144,39129,NaN,339,339,0,514,...,46.3,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,0,-666666666
2540,515102013001,672,440,35,157778,NaN,332,31,301,522,...,14.1,626600,923600,258651900.0,NaN,258651900.0,-666666666,-666666666.0,301,3058
2542,510594707002,930,636,26,162143,NaN,428,51,377,581,...,23.9,672300,984700,NaN,NaN,320850400.0,-666666666,-666666666.0,377,1443
2543,510594822032,824,486,0,197702,NaN,399,101,298,573,...,22.6,424900,764200,165395000.0,NaN,165395000.0,-666666666,-666666666.0,298,2187
2547,510594211021,652,644,43,105625,NaN,623,243,380,767,...,43.3,388900,719000,208259000.0,208259000.0,208259000.0,-666666666,-666666666.0,380,2347

In [45]:
merged_acs_el = acs_dmv_bg.merge(el_dmv_bg, left_on="GEOID", right_on="id", how="inner")

merged_acs_el

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25083_001E,B25086_001E,B25087_001E,B25088_001E,id,name,parent_location,year,type,judgement_rate
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,-666666666,NaN,250,2682,110010068021,"District of Columbia, District of Columbia, 68...",District of Columbia,2018,observed,0.00
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,-666666666,-666666666.0,180,1957,110010022023,"District of Columbia, District of Columbia, 22...",District of Columbia,2018,observed,2.02
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,-666666666,NaN,641,2025,110010006004,"District of Columbia, District of Columbia, 60...",District of Columbia,2018,observed,2.78
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,-666666666,-666666666.0,185,2067,110010042011,"District of Columbia, District of Columbia, 42...",District of Columbia,2018,observed,0.61
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,-666666666,NaN,468,1908,110010011001,"District of Columbia, District of Columbia, 11...",District of Columbia,2018,observed,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,510594516014,307,867,144,39129,NaN,339,339,0,514,...,-666666666,-666666666.0,0,-666666666,510594516014,"Fairfax County, Virginia, 451601, 4",Fairfax County,2018,observed,2.48
1494,515102013001,672,440,35,157778,NaN,332,31,301,522,...,-666666666,-666666666.0,301,3058,515102013001,"Alexandria city, Virginia, 201300, 1",Alexandria city,2018,observed,13.79
1495,510594707002,930,636,26,162143,NaN,428,51,377,581,...,-666666666,-666666666.0,377,1443,510594707002,"Fairfax County, Virginia, 470700, 2",Fairfax County,2018,observed,2.70
1496,510594822032,824,486,0,197702,NaN,399,101,298,573,...,-666666666,-666666666.0,298,2187,510594822032,"Fairfax County, Virginia, 482203, 2",Fairfax County,2018,observed,2.08
1497,510594211021,652,644,43,105625,NaN,623,243,380,767,...,-666666666,-666666666.0,380,2347,510594211021,"Fairfax County, Virginia, 421102, 1",Fairfax County,2018,observed,1.41

In [46]:
working_df = merged_acs_el.drop(['id', 'name', 'parent_location', 'year', 'type'],axis=1)

In [47]:
working_df

,GEOID,B03002_003E,B01001_002E,B01001_003E,B19013_001E,B17001_002E,B25003_001E,B25070_001E,B25091_001E,B23025_003E,...,B25076_001E,B25078_001E,B25079_001E,B25080_001E,B25082_001E,B25083_001E,B25086_001E,B25087_001E,B25088_001E,judgement_rate
0,110010068021,489,374,30,136964,NaN,379,129,250,638,...,516700,781300,155019600.0,NaN,155019600.0,-666666666,NaN,250,2682,0.00
1,110010022023,90,319,0,95394,NaN,303,123,180,326,...,382800,607100,80275000.0,80275000.0,80275000.0,-666666666,-666666666.0,180,1957,2.02
2,110010006004,1388,874,42,250001,NaN,694,53,641,1061,...,334200,1232600,NaN,765930000.0,765930000.0,-666666666,NaN,641,2025,2.78
3,110010042011,920,726,72,79135,NaN,918,733,185,1052,...,370100,997300,NaN,126205000.0,126205000.0,-666666666,-666666666.0,185,2067,0.61
4,110010011001,1579,777,62,135882,NaN,828,360,468,1047,...,804100,1246600,454543700.0,454543700.0,454543700.0,-666666666,NaN,468,1908,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,510594516014,307,867,144,39129,NaN,339,339,0,514,...,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,0,-666666666,2.48
1494,515102013001,672,440,35,157778,NaN,332,31,301,522,...,626600,923600,258651900.0,NaN,258651900.0,-666666666,-666666666.0,301,3058,13.79
1495,510594707002,930,636,26,162143,NaN,428,51,377,581,...,672300,984700,NaN,NaN,320850400.0,-666666666,-666666666.0,377,1443,2.70
1496,510594822032,824,486,0,197702,NaN,399,101,298,573,...,424900,764200,165395000.0,NaN,165395000.0,-666666666,-666666666.0,298,2187,2.08
1497,510594211021,652,644,43,105625,NaN,623,243,380,767,...,388900,719000,208259000.0,208259000.0,208259000.0,-666666666,-666666666.0,380,2347,1.41

In [48]:
working_df.to_csv("./data/working data/JudgementRate_Dataset.csv", index=False)